{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        },
        "modules": "cjs",
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-parameters"
  ]
}